<!DOCTYPE>
<html style="height: 100%;overflow: hidden;">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Building Analytics</title>
	
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel ="stylesheet" href="/css/style.css"/>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"type="text/javascript"></script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"rel="Stylesheet"type="text/css"/>  

<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
    rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
    type="text/javascript"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->



</head>

<body style="height: 100%;background-color:black;overflow: hidden;">

<div class="col-lg-12" style="padding: 0px;height: 100%;overflow: hidden;">

<!-- heading bar starts from here -->

<div id="header" class="col-lg-12" style="padding:0px;background-color:	#808080;height: 8%;">

<!-- nav bar -->
	<nav class=" col-lg-4 pull-right" style="height: 100%;">
					<ul class="nav nav-pills pull-right" style="height: 100%;">
					{{# if user}}
						 <li style="height: 100%;">
						<div class="dropdown" style="height: 100%;">
						 <button class="dropbtn" style="height: 100%;font-size: 15px;"><li role="presentation"style="color: #fff">Dashboard</li></button>
						 <div class="dropdown-content">
      						<a href="/users/loc1">Sensor_Nodes</a>
      						<a href="/users/loc2">Energy_Meters</a>
      						<a href="/users/status1">Sensor_Node_Status</a>
      						<a href="/users/status2">Energy_Meters_Status</a>
      						</div>
							</div>
						 </li>
						 <li role="presentation" style="height: 100%;"><a href="/" style="color: #fff;height: 100%;line-height: 2.5;">Home</a></li>
						 <li role="presentation" style="height: 100%;"><a href="/users/anayltics" style="color: #fff;height: 100%;line-height: 2.5;">Anayltics</a></li>
						 <li role="presentation" style="height: 100%;"><a href="/users/logout" style="color: #fff;height: 100%;line-height: 2.5;">Logout</a></li>
					 

						{{else}}
						<li role="presentation" style="height: 100%;"><a href="/users/login" style="color: #fff;height: 100%;line-height: 2.5;">Login</a></li>
						<li role="presentation" style="height: 100%;"><a href="/users/register" style="color: #fff;height: 100%;line-height: 2.5;">Register</a></li>
						{{/if}}

						
					</ul>
				</nav>

				<!-- application title -->
				<span class="text-muted col-lg-1 pull-left" style="margin-left:0px;color: #fff;margin-top: 4px">
					
					<img src="../images/logo.png" alt ="iitb-logo"height="50" width="50">
				</span> 
					
				<h3 class="text-muted col-lg-6 pull-center" style="margin: 5px;line-height: 2;color:#fff;font-size: 22px;text-align: center;margin-left: -9%;">
					<b style="color: white">Cognition and Control for Demand Management</b>
				</h3>
	
</div>

<!-- heading bar end to here -->

<!-- Body statrts from here -->
<div class="col-lg-12" style="padding: 5px;height: 87%;">
	{{#if success_msg}}
		<div class = "alert alert-success">{{success_msg}}</div>
		{{/if}}

		{{#if error_msg}}
		<div class = "alert alert-danger">{{error_msg}}</div>
		{{/if}}

		{{#if error}}
		<div class = "alert alert-danger">{{error}}</div>
		{{/if}}
		

 {{{body}}}

</div>

<!-- body end to here -->

<!-- footer starts from here -->

<div align="bottom" class="col-lg-12" style="padding: 0px;height: 3%; display:fixed; z-index:100;position:relative;">

<footer  class="footer" style="text-align: center;margin: 0px;
		padding: 0px">
				<p style="margin-bottom: 0px;
		line-height: 2;color: #fff;">&copy; 2020 IIT-Bombay-Electrical Department.All Rights Reserved</p>
			</footer>

</div>

<!-- footer endes to here -->


</div> 



</body>
<html>